---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "https://repository-images.githubusercontent.com/402295162/5af53d5c-adcf-4a74-8e6c-83fd0c3164b6",
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <link
            rel="alternate"
            type="application/rss+xml"
            title={SITE_TITLE}
            href={new URL("rss.xml", Astro.site)}
        />

        <link rel="canonical" href={canonicalURL} />

        <title>{title}</title>
        <meta name="title" content={title} />
        <meta name="description" content={description} />

        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={new URL(image, Astro.url)} />

        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:url" content={Astro.url} />
        <meta property="twitter:title" content={title} />
        <meta property="twitter:description" content={description} />
        <meta property="twitter:image" content={new URL(image, Astro.url)} />

        <script
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "1558dc442bea4b39b97a2fbbb8e01473"}'
        ></script>
    </head>
    <body>
        <div class="flex flex-col min-h-dvh">
            <Navigation />
            <main class="flex-1 flex flex-col items-center w-full px-6 py-12">
                <slot />
            </main>
            <Footer />
        </div>
    </body>
</html>
